<launch>
    <param name="inputTopic" value="points_raw" />
    <param name="outputTopic" value="visualization_marker" />
    <param name="outputCordinateFrame" value="base_link" />
    <param name="gridX" value="12" />
    <param name="gridY" value="8" />
    <param name="cellSize" value="1" />
    <param name="maxPoints" value="300" />
    <param name="objectH" value="5.0" />
    
    <node pkg="lidar_object_grid" name="lidar_visualisation" type="lidar_object_grid_node"/>
</launch>